/* FORMS */
.field {
  box-sizing: border-box;
  transition: border .3s, box-shadow .3s;
  outline: none !important;
  line-height: $form-line-height;
  vertical-align: middle;
  border-radius: 4px;
  background: $color-white;
  border: 1px solid transparent;

  &::placeholder {
    opacity: 1;
    color: $color-muted;
  }

  // sizes
  &--size-base {
    height: $size-control-base;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.input {
  &:focus {
    box-shadow: 0 0 0 2px $color-accent;
  }
}
